{%extends 'base.html'%}

{% block content %}
<main role="main">

    <div>
        <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading" style="font-size:72px;" >Joe Photography</h1>
              <p>We are the best Photographers in town</p>
              <p>
                <a href="" class="btn btn- success my-2">Nature</a>
                <a href="" class="btn btn-warning my-2">Portrait</a>
                <a href="" class="btn btn-secondary my-2">Wedding</a>
                <a href="" class="btn btn-primary my-2">Wildlife</a>
                <a href="" class="btn btn-info my-2">All Photos</a>
              </p>
            </div>
          </section>
    </div>
  
    

        </div>
      </div>
    </div>


  </main>



{% endblock %}
